html {
    scroll-behavior: smooth;
  }

*{margin:0;padding:0;}

nav{
    width:100vw;
    height:13vh;
    background-color: cadetblue;
    margin-left:auto;
    position:fixed;
}

#conteudo{
    width:100vw;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.logo{
    position:absolute;
    display: inline-block;
    
}

.ul_menu{
    display: table; 
    margin: 0 auto;
}
.ul_menu li{
    display:inline-block;
    list-style-type:none;
    line-height: 80px;
    padding: 10px 10px;
}

.ul_menu li:hover{
    background-color: rgba(255,255,255,0.3);
}

.ul_menu li a{
    font-family:arial;
    font-size:20px;
    color:black;
    text-decoration:none;
    padding:0;
}

#section_1, #section_2, #section_3{
    display: inline-block;
    padding-top:15vh;
}

h1{
    font-family:arial;
    font-size:30px;
    text-align:inherit;
    color:black;
    font-weight: bold;
    margin-bottom: 5vh;
}

.side_text{
    display:inherit;
    vertical-align: top;
    width:30vw;
    margin:0 2.5vw;
    font-family:arial;
    text-align:left;
    font-size:20px;
    color:black;
}

.side_img{
    display:inherit;
    margin:0 2.5vw;
    width:50vw;
}

.rodape{
    margin: 5vh 0;
    color:#ababab;
    text-align:center;
    font-face:arial;
}

main{
    text-align: center;
}
form{
    display: block;
    padding:20vh;
}
.form_div{
    text-align:right;
    display: inline-block;
    vertical-align: text-top;
    margin:0 0;
    padding: 0 5vw;
    padding-bottom: 30px;
    background-color: rgba(95, 158, 160, 0.521);
    border-style: none;
    font-family: 'verdana';
}
.sub_res_div{
    display: inline-block;
    margin:0 0;
    padding: 2vh 5vw;
}
.sub_res_div input[type='submit'], .sub_res_div input[type='reset']{
    margin: 0 0.5vw;
    background-color: rgba(95, 158, 160, 0.521);
    border-style: none;
    width:100px;
    height: 30px;
    font-size: 20px;
}
.sub_res_div input[type='submit']:hover, .sub_res_div input[type='reset']:hover{
    background-color: rgba(95, 158, 160, 0.253);
    cursor: pointer;
}

.h1_main{
    margin:0 0;
    padding:20 0;
}
.h2_main{
    margin:0 0;
    padding:10 0;
}
.form_div input{
    margin:5 0;
    
}
.form_div input[type='text']{
    padding:2.5 0;
    width:200;
    height:30;
    font-size: 16px;
}

#txa_motivo_outro{
    width:20ch;
    height:20ch;

}