html{scroll-behavior: smooth;}
*{margin:0;padding:0;}

body{
    font-family: 'Eras ITC';
}
#botao_topo{
    position: fixed;
    bottom:2vw;
    right:2vw;
    width:40px;
    height:40px;
    background-color: rgba(74, 85, 136, 0.347);
    color:rgba(74, 85, 136, 1);
    font-size: 30px;
    border-style: solid;
    border-color: rgba(74, 85, 136, 0.600);
    border-radius: 2px;
    display: hidden;
}

a{
    text-decoration: none;
    color:rgba(74, 85, 136, 1)
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10vw;
}
.menu li{
    display: inline-block;
    padding: 2vw;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.logo{
    width:8vw;
}

#main_idx, #main_blog, #main_modal{
    display: flex;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    background-size: cover;
    height:130vh;
}
#main_idx{
    background-image: url(fotos/main_banner.png);
    height:130vh;
}
#main_blog{
    background-image: url(fotos/blog_banner.png);
}
#main_modal{
    display: flex;
    flex-direction: column-reverse;
    background-image: url(fotos/modal_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    background-image: url(fotos/modal_banner.png);
}
.main_blog_post{
    padding-bottom: 5vh;
}


.txt_over_img{
    background: linear-gradient(90deg, rgba(74, 85, 136, 0.842), rgba(255,255,255,0));
    width:90vw;
    padding: 5vh 2vw;
    font-weight: 600;
    font-size:70px;
}
.main_blog_post .txt_over_img{
    width: 45vw;
    font-size:25px;
    padding: 2vh 5vw;
    
}

.foto_post_owner{
    width:100px;
}

h1{
    font-size: 70px;
    font-weight: 600;
    padding: 5vh 2vw;
}
h2{
    font-size: 40px;
    font-weight: 600;
    padding: 5vh 2vw;
}

#sct_setores{
    padding-bottom: 3vh;
}

#sct_modal h2{
    padding:5vh 0;
}

.sct_post{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5vh;
}
.propriedades_post{
    display: flex;
    align-items:flex-end;
    padding: 0vh 3vw;
    padding-bottom: 2vh;
}
.info_post{
    padding:0 1vw;
}

.sct_txt{
    font-size: 23px;
    text-align: left;
    width: 30vw;
    padding: 0 5vw;
}
.sct_txt_post{
    width: 40vw;
    padding: 1vh 5vw;
}
#sct_modal .sct_txt{
    padding:0 0;
.free_txt{
    font-size: 23px;
    text-align: left;
    width: 60vw;
    padding: 3vh 5vw;
}

#lista_equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    align-items: center;
    padding:5vw;
    
}
.item_lista_equipe{
    width: 15vw;
    text-align: center;
    font-size: 20px;
}
.foto_lista_equipe{
    width: 15vw;
}

#lista_setores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#blog_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    align-items: flex-start;
    padding:5vw;
}
.item_blog{
    padding:4vh 1vw;
    background-color: rgba(74, 85, 136, 0.342);
    border-style: double;
    border-color: rgba(74, 85, 136, 0.247);
    width: 22vw;
    text-align: left;
    font-size: 20px;
}
.foto_blog{
    padding-bottom:1vw;
    margin:auto;
    width:20vw;
    display:block;
}
.foto_post{
    padding: 2vh 5vw;
}

#sct_modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    align-items: flex-start;
    padding:5vw;
}
.foto_lista_modal{
    padding-bottom:1vw;
    display:block;
    width:562px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10vw;
}

#info_footer{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
.sct_form{
    display: flex;
    flex-flow: column wrap;
    height:60vh;
    justify-content: space-around;    
    align-items: flex-start;
    align-content: space-around;
    padding:5vw;
}
.form_area{
    display:inline-block; 
    width:30vw;
    padding: 2vh;
    font-size: 23px;
    background-color: rgba(74, 85, 136, 0.342);
}
input[type='text'], select, input[type='time']{
    width: 30ch;
    height: 26px;
    font-family: 'ERAS ITC';
    font-size: 20px;
    margin-bottom: 5vh;
}
input[type='time']{
    width: 10ch;
}
#txt_peso, #txt_altura{
    width:4ch;
    text-align: right;
}
select{
    width: 30ch;
    height: 30px;
    font-family: 'ERAS ITC';
    font-size: 20px;
    margin-bottom: 5vh;
}
input[type='submit'], input[type='reset']{
    width: 10ch;
    height: 30px;
    font-family: 'ERAS ITC';
    font-size: 20px;
}