body {
margin: 0;
background-image: url(fundo.jpg);
background-repeat: repeat;
}

#tudo {
text-align: center;
}

#corpo {
background-image: url(fundo_texto.png);
background-position: center;
margin-right: auto;
margin-left: auto;
width: 960;
height: 600;
margin-top: 0;
position: relative;
font-family: verdana;
text-align: center;
font-size: 14;
line-height: 1.5;
}

