@font-face {
    font-family: 'Draxel';
    src: url('fonts/Draxel.ttf') format('truetype');
  }

#menu{
    width: 1280;
    height: 326;
    background-image: url('index/index_menu.png');
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}
#rodape{
    width: 1280;
    height: 324;
    background-image: url('index/index_rodape.png');
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    font-family: 'Draxel';
    font-size: 30px;
    text-align: justify;
    color: #205b7a;
}

#conteudo{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    text-align: center;
    font-family: 'Draxel';
    font-size: 30px;
    color: #205b7a;

}

.side_div{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

.texto{
    text-align: justify;
    text-indent: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

form{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

input[type=text], select{
    font-family: 'Draxel';
    font-size: 30px;
    color: #631755;
    border-radius: 20px;
    border: 0;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

input[type=submit], input[type=reset]{
    background-color: #205b7a;
    font-family: 'Draxel';
    font-size: 30px;
    color: white;
    border-radius: 20px;
    border: 0;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 172.5px;
}
input[type=submit]:hover, input[type=reset]:hover{
    background-color: #11455e;
    font-family: 'Draxel';
    font-size: 30px;
    color: white;
    border-radius: 20px;
    border: 0;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 172.5;
}



#fundo{
    width: 1280;
    height:fit-content;
    background-color: #e8a64f;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}